html,
body {
  height: 100%;
}
body {
  font-family: "Helvetica";
  margin: 0;
  font-size: 16px;
  background: #f5f6f7;
}
small {
  font-size: 12px;
  opacity: .75;
  font-weight: lighter;
}
p {
  margin: .4em 0;
}
input {
  outline: none;
  font-size: 16px;
}
.text-danger {
  color: #d9534f;
}
.text-primary {
  color: #10d066;
}
.app a {
  color: #4078c0;
}
.app a:hover {
  color: #07f;
}
.clearfix.after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.card {
  padding: 4px;
  margin: 10px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
.card.after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.card.after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.card > :last-child {
  border-radius: 0 0 4px 4px;
}
.card h1 {
  font-size: 24px;
}
.card h2 {
  font-size: 21px;
}
.card h3 {
  font-size: 18px;
}
.card h4,
.card h5,
.card h6 {
  font-size: 16px;
}
@media (min-width: 415px) {
  .cards {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-lines: multiple;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-box-lines: multiple;
    -o-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
  .card {
    max-width: 26em;
    min-width: 16em;
  }
}
.list {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  background: #FFF;
}
.list .list-item {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  height: 44px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 10px;
  margin-left: 10px;
}
.list .list-item:first-child {
  border-top: 1px solid #ebebeb;
}
.list .list-item:last-child {
  margin-left: 0;
  padding-left: 20px;
}
.list .item-body {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex-grow: 2;
}
.list .list-check {
  display: none;
}
.editing .list-check {
  display: inline-block;
}
.tableview {
  margin: 10px 0;
}
.tableview .tableview-header {
  color: #999999;
  padding: 0 10px;
  line-height: 22px;
  font-weight: bold;
  font-size: 14px;
}
.tableview .tableview-cell {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  background: #FFF;
  height: 44px;
  border-bottom: 1px solid #ebebeb;
  padding: 0 10px;
}
.tableview .tableview-cell:first-child {
  border-top: 1px solid #ebebeb;
}
.tableview .key {
  width: 100px;
  margin-right: 10px;
}
.tableview input {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
  -moz-box-flex: 2;
  -ms-flex: 2 1 auto;
  flex-grow: 2;
  height: 100%;
  box-sizing: border-box;
  border: none;
}
.navbar {
  height: 54px;
}
.navbar-inner {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-sizing: border-box;
  height: 54px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  border-bottom: 1px solid #e2e5e8;
}
.navbar-inner .navbar-title {
  font-weight: bold;
  font-size: 18px;
}
.navbar-inner .btn {
  color: #10d066;
}
.toolbar {
  height: 44px;
}
.toolbar-inner {
  height: 44px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 0 10px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-box-align: center;
  -o-box-align: center;
  box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  border-top: 1px solid #e2e5e8;
}
.toolbar-inner .btn {
  color: #10d066;
}
.view-codes-index pre {
  font-size: 12px;
  margin: 5px 0 0;
}
.view-codes-index .cards-title {
  text-align: center;
  border-bottom: 1px solid #CCC;
  font-family: "times", serif;
  font-size: 20px;
  line-height: 1.4em;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  background: #FFF;
}
.view-codes-index .cards-title h1,
.view-codes-index .cards-title h2,
.view-codes-index .cards-title h3 {
  margin-bottom: .5em;
}
.view-codes-index .cards-title h1 {
  font-weight: Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  margin-bottom: .25em;
}
.view-codes-index .cards-title .title-body {
  max-width: 46em;
}
.view-codes-index .cards {
  padding: 4px;
}
.view-codes-index .card {
  font-size: 14px;
}
.view-codes-index .card ul {
  margin-left: 0;
  padding-left: .2em;
  list-style: none;
  margin: .5em 0;
}
.view-codes-index .card li {
  line-height: 1.6em;
}
.view-codes-index .card li:before {
  content: "- ";
}
.view-codes-index .card h2:first-child {
  margin-top: 0;
  opacity: .5;
  font-size: 22px;
}
.view-codes-index .card code {
  background: #fbfbfb;
  border: 1px solid #EEE;
  border-width: 1px 0;
  margin: 0 -4px;
}
.view-codes-index .card h1,
.view-codes-index .card h2,
.view-codes-index .card h3 {
  margin: 10px 0 0;
}
.view-codes-index .card h2 {
  font-size: 18px;
}
.view-codes-index .card h3,
.view-codes-index .card h4,
.view-codes-index .card h5 {
  font-size: 15px;
}
