// out: base.css, sourcemap:true
@import "flexbox.less";

@brand-primary:         #10d066; //WeChat Color
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@text-color:            #434343;
@gray-base:             #555;
@gray:                  #999;
@gray-light:            lighten(@gray-base, 46.7%); // #ccc
@gray-lighter:          #ebebeb;
@bg-light:              #f5f6f7;
@gray-border:           #dbdbdb;
@coupon-color:          #ffa247;
@coupon-shadow-color:   rgba(199, 199, 199, .21);

html, body {height:100%;}
body { font-family: "Helvetica"; margin:0; font-size:16px;background: @bg-light; }
small {font-size:12px; opacity:.75; font-weight:lighter;}
input {outline: none; font-size:16px;}
.text-danger {color:@brand-danger;}
.text-primary {color:@brand-primary;}
.app {}

.list {
    list-style:none; margin: 10px 0; padding:0; background: #FFF;

    .list-item {
        .flexbox(); .justify-content(space-between);.align-items(center);
        height:44px; border-bottom: 1px solid @gray-lighter; padding:0 10px;
        margin-left: 10px;
        &:first-child { border-top: 1px solid @gray-lighter; }
        &:last-child {margin-left: 0; padding-left:20px; }
    }
    .item-body { .flex-grow(2); }
    .list-check {display: none;}

}
.editing {
    .list-check {display: inline-block;}
}

.tableview {
    // background: @bg-light;
    margin: 10px 0;
    .tableview-header { color:@gray; padding:0 10px; line-height:22px;
        font-weight: bold; font-size:14px;
    }
    .tableview-cell {
        .flexbox();.align-items(center); background: #FFF;
        height:44px; border-bottom: 1px solid @gray-lighter; padding:0 10px;
        &:first-child {border-top: 1px solid @gray-lighter;}
    }
    .key {width:100px;margin-right: 10px;}
    input { .flex-grow(2); height:100%; box-sizing:border-box; border:none; }
}
.navbar { height:54px; }
.navbar-inner {
    position: fixed; width:100%; top:0; z-index: 10; box-sizing: border-box;
    height:54px; padding:0 10px; background: rgba(255,255,255,.8);
    .flexbox(); .justify-content(space-between);.align-items(center);
    border-bottom: 1px solid darken(@bg-light, 6.6%);
    .navbar-title {font-weight:bold; font-size:18px;}
    .btn { color:@brand-primary; }
}
.toolbar {height:44px;}
.toolbar-inner {
    height:44px; width:100%; position: fixed; bottom:0; background: rgba(255,255,255,.8);
    padding:0 10px; box-sizing: border-box;
    .flexbox(); .justify-content(space-between);.align-items(center);
    border-top: 1px solid darken(@bg-light, 6.6%);

    .btn { color:@brand-primary; }
}

// Views
.view-codes-index {
    code {font-size:12px;}
}
