extends layout

block content

    base(href="/")
    script(src="bower_components/requirejs/require.js")
    script(src="scripts/require-config.js")
    script(src="scripts/main.js")
    h1= title
    p Welcome to #{title}
