extends layout
block append head
    base(href="/")
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    script window.DATA = !{JSON.stringify(data)}
    script(src="bower_components/requirejs/require.js")
    script(src="scripts/require-config.js")
    script(src="scripts/main.js")
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
block append content
    p= user
