doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    base(href="/")
    script(src="bower_components/requirejs/require.js")
    script(src="scripts/require-config.js")
    script(src="scripts/main.js")
  body
    block content
